.bg_about {
    background-image: url('../public/home/7.jpg');
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.btn_more {
    border-color: #d9d640;
    color: white;
    background: linear-gradient(135deg, #d9d640 0%, #c5c23a 45%, #d9d640 66%);
    border-radius: 7px;
    padding: 20px 35px;
}

.btn_more:hover {
    background: linear-gradient(135deg, #d9d640 0%, #d9d640 45%, #c5c23a 66%);
}

.bg_about_2{
    background-image: url('../public/about/bg_about2.png');
    width: 600px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
}

.bg_about_2_AR{
    background-image: url('../public/about/bg_about2.png');
    width: 600px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
}