.link {
  color: #54545F;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 15px;
  padding: 7px 13px;
  transition: all 0.25s ease-in-out;
}

.active {
  border-color: 1px solid #1c1c1c;
  color: #1c1c1c;
  font-weight: 600;
  font-size: 18px;
}

.bg_icon {
  padding: 12px 14px 11px 14px;
  border-radius: 50%;
  border-color: #d9d640;
  color: white;
  /* background: linear-gradient(135deg, #d9d640 0%, #c5c23a 45%, #d9d640 66%); */
  background: linear-gradient(135deg, #f0c743 0%, #D4AF37 45%, #f0c743 66%);
  margin-bottom: 3px;
  transform: rotate(90deg);
}

.bg_icon:hover {
  /* background: linear-gradient(135deg, #d9d640 0%, #d9d640 45%, #c5c23a 66%); */
  background: linear-gradient(135deg, #f0c743 0%, #f0c743 45%, #D4AF37 66%);
}

@media (max-width: 780px) {
  .link {
  font-size: 15px;
}
.active {
  font-size: 17px;
}
}
